* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: #430099;
}

a {
  color: inherit;
  text-decoration: none;
}
.main__class {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  h4 {
    color: #fff;

    text-align: center;
    font-family: Roboto;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .graph__div {
    margin-top: 34px;
    display: flex;
    height: 545px;
    padding: 32px 135px;
    flex-direction: column;
    align-items: center;
    gap: 42px;
    flex-shrink: 0;
    border-radius: 40px;
    background: var(--neutral-white, #fff);
    h5 {
      color: var(--neutral-black, #1f1f23);
      font-family: Roboto;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    .tabs {
      display: flex;
      padding: 12px 32px;
      align-items: center;
      gap: 12px;
      border-radius: 30px;
      background: #f5f6fa;
      p {
        color: var(--Dark-grey, #373b47);
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px; /* 133.333% */
        letter-spacing: 0.84px;
        text-transform: uppercase;
        cursor: pointer;
      }
      .all__time {
        display: flex;
        padding: 8px 10px;
        align-items: flex-start;
        gap: 10px;
        background-color: white;
        border-radius: 16px;
        p {
          color: var(--Blue, #003eff);
        }
      }
    }

    .donut {
      width: 260px;
      height: 260px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      background: conic-gradient(
        #141197 0% 25%,
        #9d9bf4 25% 50%,
        #4fd18b 50% 75%,
        #4c49ed 75% 100%
      );

      .hole {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        h2 {
          color: #111;

          font-family: Roboto;
          font-size: 40px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
        span {
          color: #afadfe;
          /* Balance/Tenth */
          font-family: Inter;
          font-size: 19px;
          font-style: normal;
          font-weight: 800;
          line-height: normal;
        }
      }
    }

    .colors {
      display: flex;
      align-items: center;
      gap:22px;
      .inside__color {
        display: flex;
        align-items: center;
        gap: 10px;
      }
      p {
        color: #938fa3;

        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.32px;
      }
      .color {
        width: 37px;
        height: 13px;
        border-radius: 33px;
        background-color: #430099;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
